<% @projects.each do |project| %>
	<p><%= project.project %></p>
		<% project_in_tasks = project %>
			<% project_in_tasks.tasks.each do |task| %>
				<p><%= link_to "#{task.task}", task_path(task) %></p>
				<span class="deadline-space"><%= task.date %><%= task.time %></span>
			<% end %>
<% end %>



