<header>
  <div class="header">
    <div class="container">
      <%= link_to "ToDo-app", root_path, class: "root-path" %>
      
      <div class="modal" id="modal-popup">
        <div class="modal-inner">
          <div class="close-btn" id="js-close-btn">
          <%= link_to "New project", new_project_path, class: "new-project-path" %>
        </div>
      </div>
        
      </div>
      
    </div>  
  </div> 
</header>